<p style="color: green"><%= notice %></p>

<%= render @website %>

<div>
  <%= link_to "Edit this website", edit_website_path(@website) %> |
  <%= link_to "Back to websites", websites_path %>

  <%= button_to "Destroy this website", @website, method: :delete %>
</div>
